.home-wrapper {
    margin: auto;
    max-height: 100%;
    overflow: auto;
}

.home-card {
    max-width: 600px;
    min-width: 320px;
    margin: auto;
}

.home-card > .ant-card-head {
    text-align: center
}

.home-card > .ant-card-body {
    padding: 0;
}

.home-card > .ant-card-actions {
    margin-top: auto;
    position: sticky;
    bottom: 0;
}

.home-card-logo {
    width: 100px;
    /*align-self: center;*/
}

.home-card-table {
    max-width: 450px;
}

.home-card-table >
.ant-spin-nested-loading >
.ant-spin-container >
.ant-table >
.ant-table-container >
.ant-table-body {
    overflow-y: auto !important;
}

.add-button {
    align-self: center;
}
